:root{
    --mavi:#6bc2f1;
}
.bx-sizing {
    box-sizing: border-box!important;
}
.carousel-indicators img {
    width: 33px!important;
    height: 33px!important;
    margin: 0 5px!important;
}
.carousel-indicators img.active{
    transform: scale(1.5);
}
.w-60{
    width:60%
}
header{
    height:100vh;
    background:url('img/headerbg.jpg') 60% 50%/cover;
}

.bg-footer{background-color: #072035;}
.bg-mavi { background-color: var(--mavi) }
.bg-boz{background-color: #f1f1f1;}
.txtmavi{color:var(--mavi)}
.min-vh-50 { min-height: 50vh }
#f1{background: url('img/f1.jpg') center/cover;}
#f2 {background: url('img/f2.jpg') center/cover; }
#f1:hover, #f2:hover{ opacity: .5;}
#f1:hover a, #f2:hover a{ display:initial !important;}